/*generales del header*/
.flex {
    display: flex;
    flex-direction: row;
}

.sinestilo {
    text-decoration: none;
}

.noBullets {
    list-style-type: none;
}



.main-background {
    background-color: black;
}

/*Específicos*/
.header {
    background-color: rgb(0, 0, 0);
    justify-content: space-between;
}

.logo {
    width: 100vw;
}

.ulHeader {
    align-items: center;
    flex-direction: row;
    margin: 5px;
    padding: 0px;
}

.aHeader {
    color: lightblue;
    font-family: "Quicksand", sans-serif;
    margin: 15px;
    padding: 15px;
}

.aHeader:hover {
    color: rgb(173, 134, 210);
}

.cajaform {
    align-self: center;
}

.form {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-right: auto;
    align-self: flex-end;
}

.boton-busqueda {
    background-color: #300f5f;
    color: #fff;
    border-block: none;
}

.barra-buscadora {
    background-color: #300f5f;
    color: #fff;
    border-block: none;
}

/* Header responsivo*/

@media (max-width: 420px) {
    .flex {
        justify-content: center;
        margin: 5px;
    }

    .header {
        flex-direction: column;
    }

    .logo {
        width: 200px;

    }

    .aHeader {
        font-size: smaller;
    }
}

/* -----  FOOTER ----- */
a {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.378);
    font-family: 'Quicksand', sans-serif;
}


.footer_class {
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding: 0px 20px;
}

.itemfooter {
    margin: 0px 10px;
    display: flex;
    align-items: center;
    font-weight: bold;
}

.itemfooter a:hover {
    color: rgb(173, 134, 210);
    /* Color de resaltado al pasar el mouse*/
}

.ulfooter {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    list-style-type: none;
    justify-content: center;
    background-color: black;
    justify-content: space-around;
    height: 4vh;
    align-items: flex-end;
}

.miembros {
    color: rgba(255, 255, 255, 0.378);
    display: flex;
    align-items: flex-end;
    font-family: 'Quicksand', sans-serif;
    text-align: center;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Quicksand', sans-serif;
    background-color: #21201c;
}

a {
    text-decoration: none;
}

.main {
    background-color: black;
    text-align: left;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.titulo_section {
    width: 100%;
    color: rgb(212, 207, 227);
    font-weight: bold;
    font-family: 'Quicksand', sans-serif;
    margin-left: 20px;
    font-size: 200%;
}

.caja_articles {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #1b1a19;
    padding: 20px;
    margin-top: 1%;
    border-radius: 10px;
    width: 100%;
}

.articles {
    width: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(73, 70, 79, 0.36);
    padding: 20px;
    margin: 10px;
    border-radius: 10px;
}

.articles:hover {
    background-color: #470070;
}

.titulo_peliculas {
    color: rgb(212, 207, 227);
    margin: 10px;
    font-weight: bold;
}

.titulo_peliculas:hover {
    color: rgb(173, 134, 210);
}

.imgpelicula {
    width: 100%;
    height: 300px;
    /* altura */
    border-radius: 10px;
    object-fit: cover;
    /*para que no se deformen las portadas*/
}

@media (max-width:420px) {
    .main {
        padding: 5%;
    }

    .titulo_section {
        font-size: 150%;
        margin: 5px 0;
        margin-left: 15px;
    }

    .caja_articles {
        padding: 2%;
        margin-top: 2%;
        justify-content: center;
        align-items: center;
        padding-top: 30px;
        padding-bottom: 30px;
        width: 100%;
        flex-direction: row;

    }

    .articles {
        width: 89%;
        padding: 8px;
        margin-top: 2%;
        padding-top: 5%;
    }


    .titulo_peliculas {
        font-size: 14px;
    }

    .imgpelicula {
        height: 360px;
        width: 250px;
    }

    a {
        width: 100%;
    }
}


/* CSS DE GENERO y detalle genero*/

.listado-generos{
    list-style: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.item-genero {
    margin: 8px;
    padding: 10px 20px;
    width: 370px;
    background-color: #300f5f;
    color: #fff;
    border: 1px solid #2e198b;
    border-radius: 5px;
    font-size: 18px;
}
.item-genero a {
    text-decoration: none;
    color: inherit;
}
.item-genero:hover {
    background-color: #5e30c2;
}

.banner_generos{
    width: 100%;
    border-radius: 10px;
}

.main_borders{
    width: 100%;
}

.video {
    width: 100%;
    height: 400px;
}

.caja_generos{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #1b1a19;
    padding: 0px;
    border-radius: 10px;
    width: 100%;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 0px;
    margin-right: 0px;
    padding-bottom: 10px;
}


.titulo_generos{
    width: 100%;
    color: rgb(212, 207, 227);
    font-weight: bold;
    font-family: 'Quicksand', sans-serif;
    font-size: 200%;
    text-align: center;
}


.caja-detalle-genero{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #1b1a19;
    padding: 0px;
    border-radius: 10px;
    width: 70%;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 15%;
    margin-right: 15%;
    padding-bottom: 10px;
}
.caja-pelicula {
    width: 200px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #31302f;
    padding: 20px;
    margin: 10px;
    border-radius: 10px;

}
.caja-pelicula:hover {
    background-color: #470070;
}
.portada{
    width: 100%;
    height: 300px;
    border-radius: 10px;
    object-fit: cover;
}

.titulo-peliculas-genero {
    color: rgb(212, 207, 227);
    margin: 10px;
    font-weight: bold;
}
.titulo-peliculas-generos:hover {
    color: rgb(173, 134, 210);
}
.banner {
    width: 100%;
}
.seccion-banner{
    width: 100%;
    border-radius: 10px;
}
/*Responsive*/

@media (max-width: 420px) {
    
    .caja_generos {
        width: 100%; 
        margin: 10px 0px; 
    }
    .titulo_generos {
        font-size: 100%; 
        text-align: center; 
    }
    .item-genero {
        width: 100px;
        font-size: smaller;
    }
    .caja-detalle-genero{
        width: 100%;
        margin: 0px 0;
    }
    .titulo_generos{
        font-size: larger;
    }
    .caja-pelicula{
        width: 84%;
    }
    .video{
        height: fit-content;
    }
    .portada {
        width: 300px;
        height: 350px;
    }
}

    /* detalle pelicula y detalle serie */


    .pagina {
        display: flex;
        justify-content: center;
        color: white;
        background-color: black;
    }

    .informacion {
        list-style: none;
        padding: 0;
        margin: 0;
        display: flex;
        flex-direction: row;
    }

    .informacion li {
        font-size: 18px;
        margin-right: 20px;
        margin-top: 10px;
        font-family: Arial, Helvetica, sans-serif;
    }

    .verde {
        color: green;
    }

    .informacion li .fa-clapperboard {
        font-size: 24px;
        margin-right: 10px;
    }

    .serie {
        color: rgba(142, 140, 140, 0.905);
        font-family: Arial, Helvetica, sans-serif;
        font-size: 20px;
        padding: 2px;
        margin: 4px;
    }

    .titulo {
        font-family: Arial, Helvetica, sans-serif;
        color: rgb(241, 241, 241);
        font-size: 34px;
        padding: 0px;
        margin: 0px;
    }

    img {
        width: 100%;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        border-radius: 20px;
    }

    .infopeli {
        width: 63vw;
        background-color: rgba(19, 18, 18, 0.075);
        padding: 8px;
        justify-content: center;
        display: flex;
        flex-direction: column;
    }

    .contenedor-input {
        display: flex;
        flex-direction: column;
        margin-top: 20px;
        margin-bottom: 20px;

    }

    .contenedor {
        display: flex;
        flex-direction: column;
        margin-top: 20px;
    }

    .descargar {
        height: 40px;
        font-weight: bold;
    }

    .reproducir {
        height: 40px;
        font-weight: bold;
        background-color: #808080e6;
    }

    .nmr {
        color: rgb(255, 255, 255);
        font-family: Arial, Helvetica, sans-serif;
        font-size: 20px;
        margin: 0px;

    }

    .sinopsis {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 14px;
        margin: 0px;
    }

    .elenco {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 12px;
        color: grey;
        margin-top: 7px;
        margin-bottom: 0px;
    }

    .contenedor2 {
        display: flex;
        justify-content: space-around;

    }

    .caja1 {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        font-family: Arial, Helvetica, sans-serif;

    }

    .caja2 {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        font-family: Arial, Helvetica, sans-serif;
    }

    .caja3 {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        font-family: Arial, Helvetica, sans-serif;
    }

    .caja1 i {
        font-size: 15px;
        margin-top: 6px;
    }

    .caja2 i {
        font-size: 15px;
        margin-top: 6px;
    }

    .caja3 i {
        font-size: 15px;
        margin-top: 6px;
    }

    .caja1 p {
        font-size: 15px;
    }

    .caja2 p {
        font-size: 15px;
    }

    .caja3 p {
        font-size: 15px;
    }

    .heart {
        display: flex;
        flex-direction: row;
        color: red;
        padding: 5px;

    }

    .fa-heart:before {
        content: "\f004";
        margin-right: 5px;
    }

    .fa-heart {
        font-size: 20px;
    }

    /* Responsive */
    @media (max-width: 460px) {
        .infopeli {
            width: 85vw;
            margin-top: 50px;

        }

        .contenedor2 {
            margin-top: 30px;
        }

        .titulo {
            font-size: 33px;
        }

        .informacion {
            flex-direction: column;
            margin-top: 2px;
        }

        .heart {
            margin-top: 10px;
        }

        img {
            margin-bottom: 8px;
        }
    }