/* -----  FOOTER ----- */ 
a{
    text-decoration: none;
    color: rgba(255, 255, 255, 0.378);
    font-family: 'Quicksand', sans-serif;
}


.footer_class {
    background-color: black;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding: 0px 20px;
}

.itemfooter{
    margin: 0px 10px;
    display: flex; 
    align-items: center;
    font-weight: bold;
}

.itemfooter a:hover {
 color:rgb(173, 134, 210);   /* Color de resaltado al pasar el mouse*/
}

.ulfooter{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    list-style-type: none;
    justify-content: center;
    background-color: black;
    justify-content: space-around;
    height:4vh;
   align-items: flex-end;
}

.miembros{ 
    color:rgba(255, 255, 255, 0.378);
    display: flex;
    align-items: flex-end;
    font-family: 'Quicksand', sans-serif;
    text-align: center;}

@media (max-width: 420px) {
    .ulfooter {
        padding: 0px 0px;
        margin: 0px 0px;
        
    }
    .footer_class {
        padding: 0px;
        align-items: center;
    }
}
.miembros{
    margin:8px;
    padding-right: 7px;
}

